*{
    margin:0;
    padding:0;
}
.info{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:10vh;
    background-color:gray;
    font-size:30px;
    text-align:center;
    line-height:10vh;
    font-family:arial;
    text-transform:uppercase;
}

.section1{
    background-color:royalblue;
    height:90vh;
}

.section2{
    background-color:rosybrown;
    height:90vh;
}
.section3{
    background-color:aquamarine;
    height:90vh;
}
.section4{
    background-color:salmon;
    height:190vh;
}